.page {
  margin-top: 15px;
  p{
    margin: 0;
    padding: 0;

    text-align: center;
    font-family: "Arial Black";
    font-weight: bold;
  }
  width: 100vw;
  overflow-x: hidden;

  .container {
    margin: 0 auto;
    width: 100%;
    max-width: 1800px;

    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .title{
    font-size: 24px;
  }

  .button-block {
    justify-content: center;
    display: flex;
    gap: 15px;
    padding: 0 20px;
  }

  .button {
    height: 60px;
    width: 60px;

    overflow: hidden;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(.9); // Scales the button up on hover
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); // Adds a subtle shadow
    }

    img {
      width: 100%;
      height: 100%;
      transition: transform 0.3s ease;
    }

  }

  .buy-button {
    width: 120px;
  }

  .trump{
    padding: 0 20px;
    height: 65vh;
    display: flex;
    img{
      margin: 0 auto;
      width: 420px;
    }
  }
  img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  .footer{
    p{
      color: #FFCE69;
      font-size: 30px;
    }
  }

  @media screen and (max-width: 600px) {
    .button-block {
    }

    .title{
      font-size: 18px;
    }

    .button {
      height: 40px;
      width: 40px;
    }

    .buy-button {
      width: 80px;
    }

    .trump{
      img{
        width: 320px;
      }
    }
  }
}
